.mat-toolbar{
    height: 10%;
    background :white;
  }
  .mat-icon{
    padding-right: 10%;
  }
  .mat-button{
    width: 100%;
    text-align:left;
  }
  
  .dashboard-card {
    max-width: 400px;
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent !important;
    box-shadow: none !important;
  }