<mat-toolbar fxLayoutAlign="center center">
    <mat-card class="dashboard-card">
    </mat-card>
</mat-toolbar>
<mat-nav-list>
    <mat-list-item (click)="navclick('dashboard')">
        <mat-icon>home</mat-icon> Početna stranica
    </mat-list-item>
    <mat-divider></mat-divider>

<mat-accordion>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>folder</mat-icon> Zadaci
            </mat-panel-title>
        </mat-expansion-panel-header>
            <mat-list-item (click)="navclick('taks')">
                <mat-icon>list</mat-icon> Pregled zadataka
            </mat-list-item> 
    </mat-expansion-panel>

</mat-accordion>
  
</mat-nav-list>

       