<h1 mat-dialog-title>Task manager</h1>
<div mat-dialog-content>
  <p>{{data.question}}</p>
  <p>{{data.tekst}}</p>
  <p></p>
</div>
<div mat-dialog-actions align="center">
  <button mat-button [mat-dialog-close]="data.answer" cdkFocusInitial>
     <mat-icon color="primary">done</mat-icon>
  </button>
  <button mat-button (click)="onNoClick()">
     <mat-icon color="warn">clear</mat-icon>
  </button>
</div> 
