<div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="10px"  fxFlexFill style="padding: 20px;" >

    <div fxFlex class="table-component-holder mat-elevation-z8"> 
         <mat-toolbar class="table-header">
            <h1 class="mat-headline center-align">Pregled zadataka</h1>
        </mat-toolbar> 

        <div flex fxLayout="row" fxLayoutGap="10px" fxLayout.lt-md="column" fxLayoutGap.lt-md="0px">

            <button fxFlex="10%" mat-button 
                    [hidden]="!showButtonNew"
                    matTooltip="Dodaj novi zadatak"
                    (click)="newRowForGrid()" > 
                <mat-icon color="primary">add</mat-icon> Novi
            </button> 
            <button fxFlex="10%" mat-button 
                    [disabled]="!isRowSelected"
                    matTooltip="Obriši odabrane stavke"
                    (click)="deleteSelectedItemGrid()" > 
                <mat-icon color="warn">delete</mat-icon> Obriši odarano
            </button> 

            <mat-form-field>
                <input fxFlex="80%" matInput (keyup)="gridFilter($event.target.value)" placeholder="Traži">
            </mat-form-field>
            
        </div>

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>

              <!-- Checkbox Column -->
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)">
                </mat-checkbox>
                </td>
              </ng-container>
            
          
              <!-- id Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container>
          
              <!-- TaskName Column -->
              <ng-container matColumnDef="taskName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Ime zadatka </th>
                <td mat-cell *matCellDef="let element"> {{element.taskName}} </td>
              </ng-container>
          
              <!-- TaskDescription Column -->
              <ng-container matColumnDef="taskDescription">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Opis zadatka </th>
                <td mat-cell *matCellDef="let element"> {{element.taskDescription}} </td>
              </ng-container>
          
              <!-- TaskCreated Column -->
              <ng-container matColumnDef="taskCreated">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Zadatak kreiran </th>
                <td mat-cell *matCellDef="let element"> 
                  {{element.taskCreated.toDate() | date: 'dd.MM.yyyy HH:mm'}}
                </td>
              </ng-container>

              <!-- Edit Action Column -->
              <ng-container matColumnDef="edit">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let element"> 
                      <button mat-button
                              matTooltip="Uredi odabranu stavku"
                              (click)="editItemGrid(element)"> 
                          <mat-icon>edit</mat-icon>
                      </button> 
                  </td>
              </ng-container>

              <!-- Delete Action Column -->
              <ng-container matColumnDef="delete">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let element"> 
                      <button mat-button
                              matTooltip="Obriši odabranu stavku"
                             (click)="deleteItemGrid(element)"> 
                          <mat-icon color="warn">delete</mat-icon>
                      </button> 
                  </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" 
                           showFirstLastButtons>
            </mat-paginator>
        </div>
          
    </div>
</div>