mat-chip{
    width: 200px;
}

mat-toolbar{
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.container {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
}
.toolbar-spacer {
   flex: 1 1 auto;
}