<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenavLeft  mode="side" [(opened)]="leftNavBarOpened" position="start">
        <app-navmenu></app-navmenu>
    </mat-sidenav>
    <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenavLeft.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
</mat-sidenav-container>