<h3 mat-dialog-title> {{data.id !== ''? 'Uredi odabrani zadatak' : 'Unesite novi zadatak'}} </h3>

   <form class="dialog-container" [formGroup]="taskFormGroup">

      <mat-form-field>
          <input matInput placeholder="Naziv zadatka"
                formControlName="taskName">
          <mat-error *ngIf="IsFieldInvalid('taskName')">Unesite naziv zadatka</mat-error>
      </mat-form-field> 

      <mat-form-field>
          <input matInput placeholder="Opis zadatka" 
                 formControlName="taskDescription">
          <mat-error *ngIf="IsFieldInvalid('taskDescription')">Unesite opis zadatka</mat-error>
      </mat-form-field> 

      <mat-form-field>
          <input matInput [matDatepicker]="picker" 
                 formControlName="taskCreated" 
                 placeholder="Zadatak kreiran">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

    </form>
 
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>
      <mat-icon>cancel</mat-icon> Odustani
  </button>
  <button mat-button [mat-dialog-close] (click)="saveTaks()" [disabled]="taskFormGroup.invalid">
      <mat-icon>save</mat-icon> Spremi
  </button>
</mat-dialog-actions>